{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block aboutactive %}active active-now{% endblock aboutactive %}
{% block body %}
{% load static %}
{% comment %}------------------------------- banner section------------------------------------ {% endcomment %}
<div class="d-flex h-100 text-center text-white bg-dark  extra-margin">
    <div class="container-xl shadow">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark d-flex">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Welcome to the MOVIES FOREST</h1>
          <p class="lead my-3">Hey there, are you here for movies , bots or some amazing tools.
            Yes you are in right place. Here you can find any Hollywood , Bollywood or anima movie that you want
            We are not pirating, We are providing </p>
          <p class="lead mb-0"><a class=" text-white fw-bold " data-bs-toggle="collapse" href="#collapseExample"
              role="button" aria-expanded="false" aria-controls="collapseExample">
              Read more
            </a></p>
          <div class="collapse" id="collapseExample">
            <p class=" text-white">
              SITE DISCRIPTION :
  
              ABOUT :
              <br>
              About Us : MoviesForest Is Best Website/Platform For Bollywood / Anime And Hollywood HD Movies And
              Web-Series. We provides you easy google drive download links. Here We Share Various Filesharing Sites Links
              For One Movie In Many Quality Like Bluray, HDRip, BRRip, WeB-DL, etc. MoviesForest – Download And Watch
              Movies Online For Free Download Dual/Multi Audio High-Quality Movies And Tv/Web Series Directly Without Any
              Popup Ads. We Are Providing English Movies, Hollywood Dual Audio Movies, Bollywood Movies, Animation Movies,
              Tv/Web Series, Tv-Shows, Anime, And Many More.
              <br>
              <h3>Thanks for reading</h3>
            </p>
          </div>
  
        </div>
        {% comment %} logo banner start {% endcomment %}
        <div class=" col-md-6 px-0  mt-3 d-none d-lg-block d-lg-block d-xxl-block d-xl-block">
          <div class="mt-5">
            <img src="{% static 'logo/logo.jpg' %}" alt="Bootstrap" loading="lazy" width="200" height="125">
          </div>
        </div>
        {% comment %} logo banner end {% endcomment %}
      </div>
    </div>
  </div>
{% comment %} this is for creators credit  {% endcomment %}
<div class="p-5 container d-flex row ">
  <hr>
  Creators :
  <ul class = "ps-3 d-flex justify-content-between creators-credit ">
      <li> <a class="text-decoration-none" href="https://msng.link/o/?H4CK3R_5M4CK3R=tg"><img class="d-block img-fluid h-100" src="{% static 'logo/pryanshu.jpg' %}" alt="5M4CK3R" >5M4CK3R</a></li>
      <li> <a class="text-decoration-none" href="https://msng.link/o/?pariharsingh61=tg"><img class="d-block img-fluid h-100" src="{% static 'logo/parihar.jpg' %}" alt="PARIHAR" >PARIHAR</a></li>
      <li> <a class="text-decoration-none" href="https://msng.link/o/?juffler=tg"><video autoplay loop muted class="d-block img-fluid h-100" src="{% static 'logo/juffler.mp4' %}" alt="JUFFLER" ></video>JUFFLER</a></li>
  </ul>
      
</div>
{% endblock body %}