{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% load static %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<p class = "text-center">
    SITE DISCRIPTION :
    <br>

    Hey there, are you here for movies , bots or some amazing tools. Yes you are in right place. Here you can find any
    Hollywood , Bollywood or anima movie or series that you want We are not pirating, We are providing
    <br>

    This is one of the best site for downloading movies or webseries here you will find all type of content that you
    want also you can watch online if you want we provid you best service then other. You can also use our bots to get
    movie if not available in this site or you can also contect us in contect us page you can join our telegram official
    group where you can request your movie or webseries

    <br>
    ABOUT :
    <br>

    About Us : MoviesForest Is Best Website/Platform For Bollywood / Anime And Hollywood HD Movies And Web-Series. We
    provides you easy google drive download links. Here We Share Various Filesharing Sites Links For One Movie In Many
    Quality Like Bluray, HDRip, BRRip, WeB-DL, etc. MoviesForest – Download And Watch Movies Online For Free Download
    Dual/Multi Audio High-Quality Movies And Tv/Web Series Directly Without Any Popup Ads. We Are Providing English
    Movies, Hollywood Dual Audio Movies, Bollywood Movies, Animation Movies, Tv/Web Series, Tv-Shows, Anime, And Many
    More.
    <br>
    Disclaimer: All My Post Are Free Available On Internet Posted By Somebody Else I’m Not VIOLATING Any COPYRIGHTED
    LAW. If Anything Is Against LAW, Please Notify Me. If You think We Shared Your Content Or Product Without Your
    Permission, Then You Can Claim Using Our DMCA Contact Form Page. We Never Host Any File On Our Server All Point To
    Content Hosted On Third-Party Websites. Note: MoviesForest Is a Complete Independent Entity.
    <br>


    DMCA :
    <br>
    DMCA Digital Millennium Copyright Act (DMCA) is a United States copyright law that allows specific files to be
    removed by their owners if they are being used without proper permission. In order to file a complaint, connect with
    us and we will respond you in 24 hours.
    <br>





    Site Disclaimer :
    <br>
    Site Disclaimer We do not store any copyright-protected content on our websites/servers. All the posts are made only
    for educational purposes and any linked content is stored only in third-party websites. Since freedom of speech is
    allowed in this fashion, we do not attend in any kind of copyright infringing. This is a promotional website only,
    all the downloadable content provided on this site (All materials) is for testing/promotion purposes only. All files
    placed here are for introducing purpose. We highly ENCOURAGE users to BUY the CDs or DVDs of the movie or the music
    they like. Please, buy original contents from author or developer site! If you Do not agree to all the terms, please
    disconnect from this site now itself. By remaining at this site, you affirm your understanding and compliance of the
    above disclaimer and absolve this site of any responsibility henceforth. All files found on this site have been
    collected from various sources across the web and are believed to be in the “public domain”. All the logos and stuff
    are the property of their respective owners. You should DELETE IT(data) within 24 hours and make a point to buy the
    original CD or DVD from a local or online store. If you are the rightful owner of any contents posted here and
    object to them being displayed or If you are one of the representatives of copy rights department and you don’t like
    our conditions of store, please Contact Us immediately and we will delete it!
    <br>
    <h3>Thanks for visiting</h3>




</p>
{% endblock body %}