{% extends 'base.html' %}
{% block title %}Disclaimer{% endblock title %}
{% block disclaimeractive %}active{% endblock disclaimeractive %}
<p class = "text-center">
 Site Disclaimer :
    <br>
    Site Disclaimer We do not store any copyright-protected content on our websites/servers. All the posts are made only
    for educational purposes and any linked content is stored only in third-party websites. Since freedom of speech is
    allowed in this fashion, we do not attend in any kind of copyright infringing. This is a promotional website only,
    all the downloadable content provided on this site (All materials) is for testing/promotion purposes only. All files
    placed here are for introducing purpose. We highly ENCOURAGE users to BUY the CDs or DVDs of the movie or the music
    they like. Please, buy original contents from author or developer site! If you Do not agree to all the terms, please
    disconnect from this site now itself. By remaining at this site, you affirm your understanding and compliance of the
    above disclaimer and absolve this site of any responsibility henceforth. All files found on this site have been
    collected from various sources across the web and are believed to be in the “public domain”. All the logos and stuff
    are the property of their respective owners. You should DELETE IT(data) within 24 hours and make a point to buy the
    original CD or DVD from a local or online store. If you are the rightful owner of any contents posted here and
    object to them being displayed or If you are one of the representatives of copy rights department and you don’t like
    our conditions of store, please Contact Us immediately and we will delete it!
    <br>
    <h3>Thanks for visiting</h3>
</p>