{% extends 'base.html' %}
{% block title %}DMCA{% endblock title %}
{% block dmcaactive %}active{% endblock dmcaactive %}
{% block body %}
<p class = "text-center extra-margin">
 DMCA :
    <br>
    DMCA Digital Millennium Copyright Act (DMCA) is a United States copyright law that allows specific files to be
    removed by their owners if they are being used without proper permission. In order to file a complaint, connect with
    us and we will respond you in 24 hours.
    <br>
    Disclaimer:
    <br>
     All our Post Are Free Available On Internet Posted By Somebody Else We are Not VIOLATING Any COPYRIGHTED
    LAW. If Anything Is Against LAW, Please Notify Me. If You think We Shared Your Content Or Product Without Your
    Permission, Then You Can Claim Using Our <a class = "text-decoration-none" href="/contact">Contact</a> Form Page. We Never Host Any File On Our Server All Point To
    Content Hosted On Third-Party Websites. Note: MoviesForest Is a Complete Independent Entity.
    <br>
    Read more <a class = "text-decoration-none"href="/disclaimer">Disclaimer</a>
</p>

{% endblock body %}