{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% comment %} loading static files or others applications{% endcomment %}
{% load static %}
{% load webpush_notifications %}
{% block body %}
{% comment %}this is advertisement{% endcomment %}
{% comment %} loading couston javascript  {% endcomment %}
<script src="{% static 'js/main.js' %}"></script>


{% comment %}---------------------- this is the msg to ask people to subscribe ----------------------- {% endcomment %}
<div class="position-fixed bottom-0 end-0 p-3 " style="z-index: 5">
    {% webpush_button with_class=" btn btn-danger" %}
</div>


{% comment %}------------------------------- banner section------------------------------------ {% endcomment %}
<div class="d-flex h-100 text-center text-dark bg-white  mt-3">
  <div class="container-xl">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark d-flex">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to the MOVIES FOREST</h1>
        <p class="lead my-3">Hey there, are you here for movies , bots or some amazing tools.
          Yes you are in right place. Here you can find any Hollywood , Bollywood or anima movie that you want
          We are not pirating, We are providing </p>
        <p class="lead mb-0"><a class=" text-white fw-bold " data-bs-toggle="collapse" href="#collapseExample"
            role="button" aria-expanded="false" aria-controls="collapseExample">
            Read more
          </a></p>
        <div class="collapse" id="collapseExample">
          <p class=" text-white">
            SITE DISCRIPTION :

            ABOUT :
            <br>
            About Us : MoviesForest Is Best Website/Platform For Bollywood / Anime And Hollywood HD Movies And
            Web-Series. We provides you easy google drive download links. Here We Share Various Filesharing Sites Links
            For One Movie In Many Quality Like Bluray, HDRip, BRRip, WeB-DL, etc. MoviesForest – Download And Watch
            Movies Online For Free Download Dual/Multi Audio High-Quality Movies And Tv/Web Series Directly Without Any
            Popup Ads. We Are Providing English Movies, Hollywood Dual Audio Movies, Bollywood Movies, Animation Movies,
            Tv/Web Series, Tv-Shows, Anime, And Many More.
            <br>
            <h3>Thanks for reading</h3>
          </p>
        </div>

      </div>
      {% comment %} logo banner start {% endcomment %}
      <div class=" col-md-6 px-0  mt-3 d-none d-lg-block d-lg-block d-xxl-block d-xl-block">
        <div class="mt-5">
          <img src="{% static 'logo/logo.jpg' %}" alt="Bootstrap" loading="lazy" width="200" height="125">
        </div>
      </div>
      {% comment %} logo banner end {% endcomment %}
    </div>
    {% comment %} form section start {% endcomment %}
    <form action="/forest/movies" method="post" id="movies_page_request">
      {% csrf_token %}
    </form>
    {% comment %} form section end {% endcomment %}
    {% comment %} movies section {% endcomment %}
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Movies</strong>
            <h3 class="mb-0">Latest movies</h3>
            <p class="card-text mb-auto mt-3">We provide every new movies with best resolution. If you are looking for
              best
              movie downloading site on internet you are in right place </p>
            <button class="stretched-link btn btn-outline-secondary my-3" form="movies_page_request" value="hollywood"
              name="hollywood" type="submate">Click here..</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg href="/forest" class="bd-placeholder-img" width="200" height="250" xmlns="#" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Movies</text>
            </svg>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Tools</strong>
            <h3 class="mb-0">Tools</h3>
            <p class="mb-auto mt-3">Tools are basically use to do some task like Downloading facebook , YouTube
              videos or Send unlimited sms to someone </p>
            <button class="stretched-link btn btn-outline-secondary my-3 disabled" form="tools" value="tools"
              name="tools" type="submate">Click here..</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="#" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Tools</text>
            </svg>

          </div>
        </div>
      </div>
    </div>


  </div>



</div>
  {% comment %} making a notifyer to ask to get notification  {% endcomment %}



{% endblock body %}
