{% extends 'base.html' %}
{% comment %} giving title {% endcomment %}
{% block title %}search{% endblock title %}
{% comment %} main body content {% endcomment %}
{% block body %}

{% comment %} checking if result is ZERO {% endcomment %}
{% if search_related_posts|length == 0 %}
    <div class="mx-3">
        <hr>
        <h2>No results found</h2>
        <p>You'r search query <b> {{query}} </b> did not match any content</p>
        Suggestions :
        <ul>
            <li>Make sure you'r spellings are correct</li>
            <li>Try IMDB titles</li>
            <li>Try fewer worlds</li>
            <li>Please search on Zero_Two <a class = "text-decoration-none"href="#zero_two">below</a></li>
        </ul>
        <hr>
    </div>
{% else %}
{% comment %} creating a heading for search using h1 tag {% endcomment %}
<hr>
<h1 class="mx-3"><b>Search results :</b></h1>
<hr>
{% comment %} main div to show search result {% endcomment %}
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mt-1 mx-2">
    {% for posts in search_related_posts %}
    <div class="col mb-3">
        <div class="card shadow-sm p-3">
            {% comment %} display logo with img tag {% endcomment %}
            <img src="{{posts.logo_link}}" class="card-img-top" alt="Logo not avalable yet">
            <div class="card-body">
                {% comment %} display title using p tag {% endcomment %}
                <p class="card-text">{{posts.title}}</p>
                {% comment %} making a button for download page with a tag {% endcomment %}
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button type="submate" name="post_id" value={{posts.sno}} form="for_download_page"
                            class=" stretched-link btn btn-outline-secondary">Download</button>
                    </div>
                </div>
            </div>
            {% comment %} fetching timestamp form database and display with small tag {% endcomment %}
            <small class="text-muted mx-3">{{posts.timestamp}}
            {% comment %} displaying views  {% endcomment %}
            <hr>
             Views : {{posts.views_count}}</small>
        </div>
    </div>
    {% endfor %}
</div>

{% comment %} form for downlaod page request {% endcomment %}
<form action="/forest/download" id="for_download_page" method="get"></form>
{% comment %} end form of downlaod page {% endcomment %}
{% endif %}
<div class="container mb-2 ">
<b> Search in Zero_two : </b>
<form method = "post" action = "/ZeroTwo" >
    {% csrf_token %}
    <div class="d-flex">
        <input autocomplete = "off" class="form-control me-2" type="search" placeholder="Movie name" aria-label="search" name = "movie" id = "zero_two">
        <input  autocomplete = "off" class="form-control me-2" type="number" placeholder="Year" aria-label="search" name = "year"  >
    </div>
    {% comment %} making redio buttons  {% endcomment %}
    <div class="d-flex flex-column justify-content-center mt-1">
        <label for="500">Less then 0.5 GB --></label>
        <input type="radio" name= "size" value= "500000000"  id = "500" required>
        <br>
        <label for="1000">Less then 1 GB --></label>
        <input type="radio" name= "size" value= "1000000000" id = "1000" required>
        <br>
        <label for="1500">Less then 1.5 GB --></label>
        <input type="radio" name= "size" value= "1500000000" id = "1500" required>
        <br>
        <label for="2000">Less then 2 GB --></label>
        <input type="radio" name= "size" value= "2000000000" id = "2000" required>
        <br>
    </div>
    <button class="btn btn-outline-success" type="submit" >Search</button>
</form>
</div>
    <hr>


{% endblock body %}