{% extends 'base.html' %}
{% block title %}Zero_Two{% endblock title %}
{% comment %} loading static files  {% endcomment %}
{% load static %}
{% block body %}
{% comment %} If request not send to the Zero_Two   {% endcomment %}
<div class="container-xl pt-2">
 {% comment %} displaying a banner in section tag {% endcomment %}
    <section
        class="py-5 text-center d-flex flex-column-reverse mb-4  container-xxxl bg-image border border-3 border-dark rounded "
        style="background :url('{% static "banners/zero_two.jpg" %}') center /cover; height :80vh; background-repeat : no-repeat;">
    </section>
    {% if not request_success %}
        <div class="mx-3">
                <hr>
                <h2>Sorry !</h2>
                <p>Unable to communicate with Zero_Two</p>
                Problems :
                <ul>
                    <li>Zero_Two can be under maintenance</li>
                    <li>Developer's could be suffring from technical issues</li>
                    <li>You can contact us. <a class = "text-decoration-none"href="/contact">Click here</a></li>
                </ul>
                <hr>
            </div>
    {% else %}
        {% if not status %}
            <div class="mx-3">
                <hr>
                <h2>No movie found !</h2>
                <p>Query : {{query}}</p>
                <p>Zero_Two is unable to find righ movie that satisfy you requirments</p>
                Suggestions :
                <ul>
                    <li>Make sure you'r spellings are correct and released year is corrct.</li>
                    <li>Search you'r movie details in <a class = "text-decoration-none" href="https://google.com">google</a></li>
                    <li>Try diffrent sizes</li>
                </ul>
                <hr>
            </div>
        {% else %}
            <div class="container text-wrap">
                <h1>Movie found :</h1>
                <ul >
                    <h3>File Name --></h3>
                    <li>{{name}}</li>
                    <br>
                    <h3>Size --></h3>
                    <li>{{size}}</li>
                    <br>
                    <h3>Download link --></h3>
                    <li><a class = "text-decoration-none" href="{{link}}">https://movies_forest.com/download/JUFFLER</a></li>
                </ul>
                <hr>
            </div>
        {% endif %}
    {% endif %}
</div>







{% comment %} {% if status %}
    
{% else %}
    <h1>Movie not found</h1>
    <p>Try to make you movie and year combination right</p>
{% endif %} {% endcomment %}
{% endblock body %}