{% extends 'base.html' %}
{% comment %} filling metatags block {% endcomment %}
{% block metatags %}
<meta name = "discreption" property = "og:description" content = "{{post.content|slice:":10"}}">
<meta name = "keywords" content = "{{post.keywords}}">
<meta name = "author" content = "JUFFLER">
{% endblock metatags %}
{% comment %} filling title block  {% endcomment %}
{% block title %}{{post.title}}{% endblock title %}
{% comment %} loading static files and webpush application  {% endcomment %}
{% load static %}
{% load webpush_notifications %}
{% block body %}
{% comment %} -----------------including a javascript file to make copy link or other function---------------------- {% endcomment %}
<script src="{% static 'js/main.js' %}"></script>
{% comment %} this is popup advertisement of popcash.net {% endcomment %}
<script type="text/javascript">
   var uid = '322055';
   var wid = '622796';
   var pop_fback = 'up';
   var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
   pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
</script>
{% comment %} --------------------popup add of propeller---------------- {% endcomment %}
<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',4349759,document.body||document.documentElement)</script>
{% comment %} --------------------popup add of flyer square------------------{% endcomment %}
<div class="xc449bad4854773ff" data-options="count=1,interval=1,burst=1" data-zone="92fe4d53027d4e3b974b5994d61bcad9" style="display: none"></div>

{% comment %}---------------------- this is the msg to ask people to subscribe ----------------------- {% endcomment %}
<div class="position-fixed bottom-0 end-0 p-3 " style="z-index: 5">
    {% webpush_button with_class=" btn btn-danger" %}
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell text-danger" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
    </span>
</div>

{% comment %} -------------------------this is other all content of download page ---------------------------------- {% endcomment %}
<div class="d-flex h-100 text-center text-white bg-dark mb-3">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 
    {% comment %} making a share logo here {% endcomment %}
    <div class="container d-flex justify-content-between mb-1">
     <div>
      Views : {{post.views_count}}
      </div>
      {% comment %} this is for logo {% endcomment %}
      <div>
      <a  data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
          viewBox="0 0 16 16">
          <path
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
        </svg>
      </a>
      </div>
      {% comment %} logo end {% endcomment %}
      {% comment %} this is for action canvas {% endcomment %}
      <div class=" bg-dark offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
          {% comment %} title for action canvas {% endcomment %}
          <h5 class="offcanvas-title" id="offcanvasBottomLabel">Share</h5>
          {% comment %} button to close the canvas {% endcomment %}
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {% comment %} main content for action canvas {% endcomment %}
        <div class="offcanvas-body small">
          {% comment %} making a row for all social media icons {% endcomment %}
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
            {% comment %} making a button to copy link {% endcomment %}
            <div class="col mb-3">
              <button class=" clipboard btn btn-link" onclick="copyUrl()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                  class="bi bi-clipboard" viewBox="0 0 16 16">
                  <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                  <path
                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} canvas end {% endcomment %}
    </div>
    {% comment %} ending a share logo here {% endcomment %}
    {% comment %} making a card for logo and title {% endcomment %}
    <div class="container d-flex justify-content-center">
      <div class="card bg-dark shadow-sm" style="width: 18rem;">
        <img src={{post.logo_link}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class=" text-start card-text">{{post.title_caption|safe}}</p>
          <a href="#download_link_dropdown" class="btn btn-primary">Go to Download buttons</a>
        </div>
      </div>
    </div>
    {% comment %} end title logo card {% endcomment %}

    <main class="px-3 " id="download">
    {% comment %} for discreption  {% endcomment %}
      <h1>About this content.</h1>
      <p class="lead">{{post.content|safe}}</p>
      {% comment %} end discreption  {% endcomment %}
      {% comment %} making a grid to display screenshots  {% endcomment %}
      <!-- Gallery -->
          <div class="row">
            {% for screen_shots in screen_shots_list  %}
            <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
              <img
                src="{{screen_shots}}"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="screen_shots not avalable"
              />
            </div>
            {% endfor %}
      <!-- Gallery -->
      {% comment %} ending screenshots grid  {% endcomment %}
      {% comment %} ---------------banner add of flyer square---------{% endcomment %}
      <div class="xc449bad4854773ff" data-zone="e7e5f9334a194a99993bda88f54fe9ce" style="width:320px;height:100px;display: inline-block;margin: 0 auto"></div>
      {% comment %} download links dropdown  {% endcomment %}
          <div class="dropdown ">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="download_link_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Download links
            </a>

            <ul class="dropdown-menu" aria-labelledby="download_link_dropdown">
              {% for quality ,download_link in download_links_list.items %}
              <li><a class="dropdown-item" href={{download_link}}>{{quality}}</a></li>
              {% endfor %}
            </ul>
            {% comment %} next dropdown for stream  {% endcomment %}
            <a class="btn btn-secondary dropdown-toggle mx-2 me-0" role="button" id="download_link_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Watch Now
            </a>

            <ul class="dropdown-menu" aria-labelledby="download_link_dropdown">
              {% for quality ,stream_link in stream_links_list.items %}
              {% comment %} making a button to redirect into stream page  {% endcomment %}
              <li><button class="dropdown-item" form = "for_stream_page" value={{stream_link}} name = "link">{{quality}}</button></li>
              {% endfor %}
            </ul>
          </div>
          {% comment %} form for stream  {% endcomment %}
          <form action="/forest/stream" id ="for_stream_page">
          </form>
          {% comment %} end stream form  {% endcomment %}
      {% comment %} end dropdowns of download and stream  {% endcomment %}
      {% comment %} making tags section  {% endcomment %}
      <div class="album py-5 bg-light p-0 mt-1 bg-dark">
        <div class="container text-center bg-dark shadow py-3">
          <h3 class = "mb-2">Tags 
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
              <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
              <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
            </svg>
          </span></h3>
            {% for labs in labs_list %}
                {% if labs == "tvseries" %}
                    <button class="text-capitalize btn btn-{{color_list|random}} shadow-sm mb-1 " value={{labs}} name="label" type="submate"
                        form="for_categories">Webseries</button>
                {% else %}
                    <button class="text-capitalize btn btn-{{color_list|random}} shadow-sm mb-1" value={{labs}} name="label" type="submate"
                        form="for_categories">{{labs}}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% comment %} form for lables inside downlaod page  {% endcomment %}
    <form action="/forest/movies" id="for_categories" method="post">
        {% csrf_token %}
        <input type="hidden" name="section_of_download_page" value="{{post.section}}"> 
    </form>
      {% comment %} ending tags section  {% endcomment %}
      {% comment %} making a fram for YouTube trailer  {% endcomment %}
      <!-- 21:9 aspect ratio -->
      
        <h1 class = " mb -2 mt-4">Trailer</h1>
        <iframe class = "mb-2 btn-outline-success shadow border border-success rounded border-top-0 border-bottom-0" width="560" height="315" src="{{post.trailer_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% comment %} end YouTube trailer fram  {% endcomment %}
    </main>
  </div>

</div>
{% endblock body %}
