{% extends 'base.html' %}



{% comment %} loading static files from static {% endcomment %}
{% load static %}
{% block title %}Hollywood {% endblock title %}
{% block body %}
{% comment %} making a container for containing all body {% endcomment %}
<div class="container-xl pt-3">
    {% comment %} checking if you are not in first page so don't show banner {% endcomment %}
    {% if show_banner %}
    <hr>
    {% comment %} making a string to get banner name in prefect format {% endcomment %}
    {% with "banners/"|add:banner|add:".jpg" as banner %}
    {% comment %} displaying a banner in section tag {% endcomment %}
    <section
        class="py-5 text-center d-flex flex-column-reverse mb-4  container-xxxl bg-image border border-3 border-dark rounded "
        style="background :url('{% static banner %}') center /cover; height :80vh; background-repeat : no-repeat;">
    </section>
    {% endwith %}
    <hr>
    {% endif %}
    {% comment %} making a category dropdown {% endcomment %}
    <div class="container d-flex justify-content-between">
        {% comment %} this is for years  {% endcomment %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Years
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for item in year %}
                <li><button class=" dropdown-item" value={{item}} name="label" type="submate"
                    form="for_categories">{{item}}</button></li>
                {% endfor %}
            </ul>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
        <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
        <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
        </svg>
        {% comment %} this is for others  {% endcomment %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Other
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for more in other %}
                <li><button class="text-capitalize dropdown-item" value={{more}} name="label" type="submate"
                    form="for_categories">{{more}}</button></li>
                {% endfor %}
            </ul>
        </div>
    </div>
     {% comment %} This is for main  {% endcomment %}
    <div class="album py-5 bg-light p-0 mt-1">
        <div class="container text-center">
            {% for main_item in main %}
                {% if main_item == "tvseries" %}
                    <button class="text-capitalize btn btn-{{random_color}} shadow-sm mb-1 " value={{main_item}} name="label" type="submate"
                        form="for_categories">Webseries</button>
                {% else %}
                    <button class="text-capitalize btn btn-{{random_color}} shadow-sm mb-1" value={{main_item}} name="label" type="submate"
                        form="for_categories">{{main_item}}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    {% comment %} making a form for categorydropdown menus {% endcomment %}
    <form action="/forest/movies" id="for_categories" method="post">
        {% csrf_token %}
    </form>
    {% comment %} end form {% endcomment %}
    {% comment %} end category dropdown {% endcomment %}


    {% comment %} making a main logic to display the content {% endcomment %}
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 mt-1">
        {% if all_movies_post|length < 1 %} <div class="mx-3">
            <hr>
            <h2>No content found?</h2>
            <p>You need to try diffrent category. This category is not avalable for this section now.</p>
            suggestions :
            <ul>
                <li>You can change you'r section</li>
                <li>Try mannual search for better results</li>
                <li>Try diffrent category or section combination</li>
            </ul>
            <hr>
    </div>
    {% else %}
    {% with content_start|add:":"|add:content_end as final %}
    {% comment %} itrating all content avalable {% endcomment %}
    {% for posts in all_movies_post|slice:final%}
    <div class="col mb-3">
        <div class="card shadow-sm p-3">
            {% comment %} display logo with img tag {% endcomment %}
            <img src="{{posts.logo_link}}" class="card-img-top" alt="Logo not avalable yet">
            <div class="card-body">
                {% comment %} display title using p tag {% endcomment %}
                <p class="card-text">{{posts.title}}</p>
                <div class=" d-flex justify-content-between align-items-center">
                    {% comment %} making a button with the value of serial no of post {% endcomment %}
                    <div class="d-inline">
                        <button class="stretched-link btn btn-outline-secondary " type=" submate" name="post_id"
                            value={{posts.sno}} form="for_download_page">Download</button>
                    </div>
                </div>
            </div>
            {% comment %} fetching timestamp form database and display with small tag {% endcomment %}
            <small class="text-muted mx-3">{{posts.timestamp}}
            {% comment %} display views  {% endcomment %}
            <hr>
             Views : {{posts.views_count}}</small>
        </div>
    </div>
    {% endfor %}
    {% endwith %}
    {% comment %} form for downlaod page request {% endcomment %}
    <form action="/forest/download" id="for_download_page" method="get">
    </form>
    {% comment %} end form of downlaod page {% endcomment %}
    {% endif %}
</div>
<hr>
{% comment %} making a next content display button and go to top button {% endcomment %}
<nav class="blog-pagination d-flex justify-content-center mb-3" aria-label="Pagination">
    {% if back_home_button != True %}
    {% if disable_previous == False %}
    <button class="btn btn-outline-dark mx-2" type="submate" form="next_page_request" value="{{at_page_no}}"
        name="previous">
        Previous</button>
    {% else %}
    <button class="btn btn-outline-dark mx-2 disabled" type="submate" form="next_page_request" value="{{at_page_no}}"
        name="previous">
        Previous</button>
    {% endif %}
    {% comment %} showing page number bettween next and previous buttons  {% endcomment %}
    <div class = "text-success">
    <h2 class = "mt-2">{{at_page_no}}/{{len_pages}}</h2>
    </div>
    {% comment %} making next button  {% endcomment %}
    {% if disable_next == False %}

    <button class="btn btn-outline-dark mx-2" type="submate" form="next_page_request" value="{{at_page_no}}"
        name="next">
        Next</button>
    {% else %}

    <button class="btn btn-outline-dark mx-2 disabled" type="submate" form="next_page_request" value="{{at_page_no}}"
        name="next">
        Next</button>

    {% endif %}
    {% else %}
    <a class="btn btn-outline-dark mx-2" href="/">Back home</a>
    {% endif %}

</nav>
<hr>

{% comment %} creating a form to submate previous page no {% endcomment %}
<form action="movies" method="post" id="next_page_request">
    {% csrf_token %}
    {% comment %} for giving a previous page id {% endcomment %}
    <input type="hidden" value="{{page_id}}" form="next_page_request" name="page_id">
</form>

</div>
{% endblock body %}