{% extends 'base.html' %}
{% block title %}error{% endblock title %}
{% block body %}
<div class="ps-5 container d-flex row  ">
    <hr>
    <h2>No content looks Forbidden?</h2>
    <p>This content may be deleted by owner or something went wrong.</p>
    suggestions :
    <ul>
        <li>Go back to home</li>
        <li>Tell owners about this issue to fix using  <a class = "text-decoration-none" href="/contact">contact us</a> form</li>
        <li>Reopen the site by  <a class = "text-decoration-none" href="/">click here</a></li>
    </ul>
    <a href= "/" class="btn btn-dark">Go home</a>
    <hr>
</div>
{% endblock body %}