{% extends 'base.html' %}
{% block title %}error{% endblock title %}
{% block body %}
<div class="p-5 container d-flex row extra-margin text-white">
    <hr>
    <h2>No content found?</h2>
    <p>This content may be deleted by owner or something went wrong.</p>
    suggestions :
    <ul>
        <li>Go back to home</li>
        <li>Tell owners about this issue to fix using contact us form</li>
        <li>Reopen the site through url</li>
    </ul>
        <a href= "/" class="btn btn-danger">Go home</a>
    <hr>
</div>
{% endblock body %}