<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags are these -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} loading static files and others application {% endcomment %}
    {% load static %}
    {% load webpush_notifications %}
    {% comment %} loading headers Required for webpush application {% endcomment %}
    {% webpush_header %}
    {% comment %} block for other metatags related to the posts {% endcomment %}
    {% block metatags %}{% endblock metatags%}

    {% comment %}--------------------------- this is css section -------------------------------------------------- {% endcomment %}
    {% comment %} linking coustom css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} linking fabicon {% endcomment %}
    <link rel="shortcut icon" href="{% static 'logo/fabicon.ico' %}">
    {% comment %} link google fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    {% comment %}----------------------------------- this is JavaScript section ------------------------------------------------------------- {% endcomment %}
    {% comment %} this is jquery {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% comment %} this is autocomplete feature of jquery {% endcomment %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% comment %} this is the style sheats for jquery search {% endcomment %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% comment %} this is title blank {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>

</head>

<body>
    <div class="loadingbar ">
        <div class="container-for-loading">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
                </filter>
            </defs>
        </svg>
    </div>


    {% comment %} writing a java script for search suggestion Note : this is inherit from jqery autocomplete {% endcomment %}
    <script>
        $(function() {
            $("#query_input").autocomplete({
                source: "{% url 'jquery_search' %}",
                delay: 2,
            });
        });
    </script>
    {% comment %} this is for slider {% endcomment %}
    <div class="slider">

        {% comment %} button to colapse right slider{% endcomment %}

        <button id="slider-trigger-button" class="slider-button " type="button" data-bs-toggle="offcanvas" data-bs-target="#slider-menu" aria-controls="offcanvasExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill slider-arrow" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </button>
        <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="slider-menu" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header mb-4">
                <button id="close-slider" type="button" class="btn-close text-reset d-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% comment %} thise are for sections {% endcomment %}
                {% comment %} form to submate the slider allmovies label Request {% endcomment %}
                <form action="/forest/movies" method="post" id="section">
                    {% csrf_token %}
                </form>
                {% comment %} making a form for categorydropdown menus {% endcomment %}
                <form action="/forest/movies" id="for_categories" method="post">
                    {% csrf_token %}
                </form>
                {% comment %} end form {% endcomment %}
                <div class="flex-shrink-0 p-3">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-5 fw-semibold">MoviesForest</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button value="hollywood" class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Hollywood-collapse" aria-expanded="false">
                                Hollywood
                            </button>
                            <div class="collapse" id="Hollywood-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="hollywood" form="section" type="submate" name="hollywood">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="hollywood|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Bollywood-collapse" aria-expanded="false">
                                Bollywood
                            </button>
                            <div class="collapse" id="Bollywood-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="bollywood" form="section" type="submate" name="bollywood">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="bollywood|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Anime-collapse" aria-expanded="false">
                                Anime
                            </button>
                            <div class="collapse" id="Anime-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">

                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="anima" form="section" type="submate" name="anima">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="anima|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </li>
                        <li class="mb-1 border-bottom pb-3">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Animation-collapse" aria-expanded="false">
                                Animation
                            </button>
                            <div class="collapse" id="Animation-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">

                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="animation" form="section" type="submate" name="animation">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="animation|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% comment %} navigation bar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  sticky-top">
        <div class="container-fluid">
            {% comment %} start logo {% endcomment %}
            <a href="/">
                <img src="{% static 'logo/logo.jpg' %}" alt="Wait.." loading="lazy" width="55" height="40">
            </a>
            {% comment %} ending logo {% endcomment %}

            <div class="show navbar-collapse mt-2 " id="navbarSupportedContent">
                <div class=" nav-half container-lg d-flex justify-content-between mb-2" , style="height: 2rem">
                    {% comment %} search form {% endcomment %}
                    <div class="bro  " id="other-nav-items">
                        <ul class=" navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-between">

                            <li class="nav-item">
                                <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block historyactive %}{% endblock historyactive %}" href="/history">History</a>
                            </li>

                        </ul>
                    </div>
                    <form method="get" action="/search" class="  search">

                        <button class=" btn btn-outline-info rounded-circle search-submate-button me-2 py-1" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <input id="query_input" class="  search-box me-1" type="search" placeholder="Search" aria-label="search" name="search">
                        <span class="search-button ">
                            <span class="search-icon"></span>
                        </span>
                        {% comment %}
                </div> {% endcomment %}
                </form>
            </div>
        </div>
        </div>
    </nav>
    {% comment %} end navigation bar {% endcomment %}
    

    {% comment %} this is for showing alerts {% endcomment %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
        <strong>Massage : </strong> {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% comment %} making a block for body {% endcomment %}
    {% block body %}{% endblock body %}
    {% comment %} this is footer {% endcomment %}
    <footer class="mt-auto text-dark-50 text-center container footer ">
        {% comment %} making more pages like dmca {% endcomment %}
        <nav aria-label="breadcrumb">
            <b>
                <ol class="breadcrumb d-flex justify-content-center mt-3">
                    <li class="breadcrumb-item"><a class="text-decoration-none " href="/contact">Request us</a></li>
                    <li class="breadcrumb-item {% block dmcaactive %}{% endblock dmcaactive %}"><a class="text-decoration-none " href="/dmca">DMCA</a></li>
                    <li class="breadcrumb-item {% block disclaimeractive %}{% endblock disclaimeractive %}"><a class="text-decoration-none " href="/disclaimer">Disclaimer</a></li>
                </ol>
            </b>
        </nav>
        <p class="text-dark">Copyright ©️ 2021-2022 <a href="/" class="text-dark">MovieForest</a>, by <a href="/" class="text-dark">JUFFLER</a>.</p>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    {% comment %} coustom js {% endcomment %}
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->


</body>


</html>
