<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags are these -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} loading static files and others application {% endcomment %}
    {% load static %}
    {% load webpush_notifications %}
    {% comment %} loading headers Required for webpush application {% endcomment %}
    {% webpush_header %}
    {% comment %} block for other metatags related to the posts {% endcomment %}
    {% block metatags %}{% endblock metatags%}

    {% comment %}-------------------------------- this is css section -------------------------------------------------- {% endcomment %}
    {% comment %} linking coustom css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} linking fabicon {% endcomment %}
    <link rel="shortcut icon" href="{% static 'logo/fabicon.ico' %}">
    {% comment %} link google fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    {% comment %}----------------------------------- this is JavaScript section ------------------------------------------------------------- {% endcomment %}
    {% comment %} this is jquery {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% comment %} this is autocomplete feature of jquery {% endcomment %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% comment %} this is the style sheats for jquery search {% endcomment %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% comment %} this is title blank {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>
    <style>
        .section-button::before {
            display: inline-block;
            color: #0dcaf0 !important;
            width: 1.25em;
            /* content: url("{% static 'logo/arrow.svg' %}"); */
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform .35s ease;
            transform-origin: .5em 50%;

        }

        .section-button[aria-expanded="true"]::before {
            transform: rotate(90deg) !important;
        }

        .labels-list {
            margin-left: 2rem;
            margin-top: 1rem;
        }

        .labels-list li {
            margin-top: 1rem;

        }

        .section-button:hover,
        .section-button:focus {

            color: rgba(0, 0, 0, .65) !important;
            background-color: #d2f4ea;
        }

        .section-label:hover,
        .section-label:focus {

            color: rgba(0, 0, 0, .65) !important;
            background-color: #d2f4ea;
        }
    </style>

</head>

<body>
    <div class="loadingbar ">
        <div class="container-for-loading">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
                </filter>
            </defs>
        </svg>
    </div>


    {% comment %} writing a java script for search suggestion Note : this is inherit from jqery autocomplete {% endcomment %}
    <script>
        $(function() {
            $("#query_input").autocomplete({
                source: "{% url 'jquery_search' %}",
                delay: 2,
            });
        });
    </script>
    {% comment %} this is for slider {% endcomment %}
    <div class="slider">

        {% comment %} button to colapse right slider{% endcomment %}

        <button id="slider-trigger-button" class="slider-button " type="button" data-bs-toggle="offcanvas" data-bs-target="#slider-menu" aria-controls="offcanvasExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill slider-arrow" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </button>
        <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="slider-menu" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header mb-4">
                <button id="close-slider" type="button" class="btn-close text-reset d-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% comment %} thise are for sections {% endcomment %}
                {% comment %} form to submate the slider allmovies label Request {% endcomment %}
                <form action="/forest/movies" method="post" id="section">
                    {% csrf_token %}
                </form>
                {% comment %} making a form for categorydropdown menus {% endcomment %}
                <form action="/forest/movies" id="for_categories" method="post">
                    {% csrf_token %}
                </form>
                {% comment %} end form {% endcomment %}
                <div class="flex-shrink-0 p-3">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-5 fw-semibold">MoviesForest</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button value="hollywood" class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Hollywood-collapse" aria-expanded="false">
                                Hollywood
                            </button>
                            <div class="collapse" id="Hollywood-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="hollywood" form="section" type="submate" name="hollywood">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="hollywood|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Bollywood-collapse" aria-expanded="false">
                                Bollywood
                            </button>
                            <div class="collapse" id="Bollywood-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="bollywood" form="section" type="submate" name="bollywood">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="bollywood|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Anime-collapse" aria-expanded="false">
                                Anime
                            </button>
                            <div class="collapse" id="Anime-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">

                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="anima" form="section" type="submate" name="anima">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="anima|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </li>
                        <li class="mb-1 border-bottom pb-3">
                            <button class="btn section-button text-white align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Animation-collapse" aria-expanded="false">
                                Animation
                            </button>
                            <div class="collapse" id="Animation-collapse">
                                <ul class="list-unstyled fw-normal pb-1 small labels-list ">

                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="animation" form="section" type="submate" name="animation">
                                            AllMovies
                                        </button>
                                    </li>
                                    {% for more in other %}
                                    <li>
                                        <button class="section-label btn btn-link link-light rounded text-decoration-none " value="animation|{{more}}" name="label" type="submate" form="for_categories">
                                            {{more}}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% comment %} navigation bar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-dark sticky-top">
        <div class="container-fluid">
            {% comment %} start logo {% endcomment %}
            <a href="/">
                <img src="{% static 'logo/logo.jpg' %}" alt="Wait.." loading="lazy" width="55" height="40">
            </a>
            {% comment %} ending logo {% endcomment %}

            <div class="show navbar-collapse mt-2 " id="navbarSupportedContent">
                <div class=" nav-half container-lg d-flex justify-content-between mb-2" , style="height: 2rem">
                    {% comment %} search form {% endcomment %}
                    <div class="bro  " id="other-nav-items">
                        <ul class=" navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-between">

                            <li class="nav-item">
                                <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block historyactive %}{% endblock historyactive %}" href="/history">History</a>
                            </li>

                        </ul>
                    </div>
                    <form method="get" action="/search" class="  search">

                        <button class=" btn btn-outline-info rounded-circle search-submate-button me-2 py-1" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <input id="query_input" class="  search-box me-1" type="search" placeholder="Search" aria-label="search" name="search">
                        <span class="search-button ">
                            <span class="search-icon"></span>
                        </span>
                        {% comment %}
                </div> {% endcomment %}
                </form>
            </div>
        </div>
        </div>
    </nav>
    {% comment %} end navigation bar {% endcomment %}
    {% comment %} making a modal bar for sections {% endcomment %}
    <!-- main modal content  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-white bg-dark">

                {% comment %} start of section {% endcomment %}
                <div class="modal-header">
                    <a class="text-decoration-none text-white" href="/">
                        <h5 class="modal-title" id="exampleModalLabel">Moviesforest</h5>
                    </a>
                    {% comment %} cross button {% endcomment %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% comment %} making a section list {% endcomment %}
                <div class="modal-body">
                    <ul class=" nav nav-pills flex-column mb-auto">
                        <li class="rounded {{active_hollywood}}">
                            <button class="nav-link text-white " aria-current="page" value="hollywood" form="section" type="submate" name="hollywood">
                                Hollywood
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
                                </svg>
                            </button>
                        </li>
                        <li class="rounded {{active_bollywood}}">
                            <button class="nav-link text-white" value="bollywood" form="section" type="submate" name="bollywood">
                                Bollywood
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
                                </svg>
                            </button>
                        </li>
                        <li class="rounded {{active_anima}}">
                            <button class="nav-link text-white  " value="anima" form="section" type="submate" name="anima">
                                Anime
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z" />
                                </svg>
                            </button>
                        </li>
                        <li class="rounded {{active_animation}}">
                            <button class="nav-link text-white  " value="animation" form="section" type="submate" name="animation">
                                Animation
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-egg-fried" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z" />
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                {% comment %} section body completed {% endcomment %}

            </div>
            {% comment %} ending of section {% endcomment %}

        </div>
    </div>

    {% comment %} end modal content {% endcomment %}

    {% comment %} this is for showing alerts {% endcomment %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
        <strong>Massage : </strong> {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% comment %} making a block for body {% endcomment %}
    {% block body %}{% endblock body %}
    {% comment %} this is footer {% endcomment %}
    <footer class="mt-auto text-dark-50 text-center container footer ">
        {% comment %} making more pages like dmca {% endcomment %}
        <nav aria-label="breadcrumb">
            <b>
                <ol class="breadcrumb d-flex justify-content-center mt-3">
                    <li class="breadcrumb-item"><a class="text-decoration-none " href="/contact">Request us</a></li>
                    <li class="breadcrumb-item {% block dmcaactive %}{% endblock dmcaactive %}"><a class="text-decoration-none " href="/dmca">DMCA</a></li>
                    <li class="breadcrumb-item {% block disclaimeractive %}{% endblock disclaimeractive %}"><a class="text-decoration-none " href="/disclaimer">Disclaimer</a></li>
                </ol>
            </b>
        </nav>
        <p class="text-dark">Copyright ©️ 2020-2021 <a href="/" class="text-dark">MovieForest</a>, by <a href="/" class="text-dark">JUFFLER</a>.</p>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    {% comment %} coustom js {% endcomment %}
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->


</body>


</html>