/* making every thing right as default  */
body * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apllying font in whole site */
html * {
    font-family: 'Baloo Bhai 2', cursive;

}

/* this css is only for navbar togger button  note : for arrow_icon*/
#checkbox {
    display: none;
}

.arrow_icon {

    transition: all 0.2s 0.25s;
    transform: rotate(0);
}

#checkbox:checked+.arrow_icon {
    transform: rotate(180deg);
}

/* ending this css is only for navbar togger button  */