/* making every thing right as default  */
body * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apllying font in whole site */
html * {
    font-family: 'Baloo Bhai 2', cursive;

}

#checkbox {
    display: none;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    transition: all 0.75s 0.25s;
    transform: rotate(0);
}

#checkbox:checked+.square {
    transform: rotate(180deg);
}